# Git Ignore
# TANAY CHAKRABORTY
# tanay@inocentum.in

# Local configuration file (sdk path, etc)
local.properties

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Eclipse project files
.classpath
.project

venv/
.idea/
*.sqlite3
*.pyc


#meda files
media/

#static files
/static/

# vs code
.vscode/

#migration
/*/migrations/

**/migrations/**
!**/migrations
!**/migrations/__init__.py
